body{
    background: #d4d4d2;  
}
#main{
    width:100vw;
    background: #d4d4d2;
    height:100vh;
    margin:auto;
    text-align: center;
    border-spacing: 0px;
  
}
button {
   border-spacing: 3vw;
   border-radius:5px;
   color:white;
   background:#ff9500;
   width:10vw;
   height: 7vh;
  border: none; 
}
input {
    width:5vw;
    height:5vh;
    background:grey;
    border-spacing: 0px;
    border-radius:5px;
    border:none;
    color:white;
}
input:hover {
background:rgb(186, 183, 183);

}
#screen  {
padding:20%;
margin-left:5%;
margin-right: auto;
margin-top: 5%;
margin-bottom: auto;
text-align:left;
color: white;
font-family: sans-serif;
font-size: 2vw;
text-align: center;
border-spacing: 10%;
}
div {
margin: auto;
width:70vw;
height:50vh;
background: black;
text-align: center;
align-items: center;

}
#diff {
   border:none;
   border-radius: 5px;
}
#head 
{
    color:black;
    font-family: sans-serif;
    font-size: 2vw;
    margin:auto;
    text-align: center;
}